/* @tailwind base; */
/* @tailwind components;
@tailwind utilities; */
* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background: var(--dark-surface-container-low);
  font-family: var(--font-work-sans), "Segoe UI", "sans-serif";
}

a {
  text-decoration: none;
}
ul {
  list-style: none !important;
}
p {
  margin: 0;
}

/* loading ui  */
.loading-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: var(--dark-surface-container-lowest, #0e0e11);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loading-wrapper img {
  position: relative;
  top: 70px;
}
.spinner {
  position: relative;
  bottom: 70px;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  -webkit-mask: linear-gradient(rgba(0, 0, 0, 0.1), #000000 90%);
  transform-origin: 50% 60%;
  transform: perspective(200px) rotateX(66deg);
  animation: spinner-wiggle 1.2s infinite;
}
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  margin: -4px;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  opacity: 0.05;
  border: inherit;
  border-color: transparent;
  animation: spinner-spin 1.2s cubic-bezier(0.6, 0.2, 0, 0.8) infinite,
    spinner-fade 1.2s linear infinite;
}

.spinner:before {
  border-top-color: #66e6ff;
}

.spinner:after {
  border-top-color: #f0db75;
  animation-delay: 0.3s;
}

@keyframes spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinner-fade {
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.1;
  }
}

.h1 {
  margin: 0;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: var(--dark-on-surface);
  font-family: var(--font-work-sans), Segoe UI, sans-serif;
  font-size: 3rem;
  line-height: 1.167;
  color: var(--white);
}

.bold {
  font-weight: 700;
}
@media (max-width: 600px) {
  .h1 {
    font-size: 2rem;
  }
}

/* container  */
.max-width-lg {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 600px) {
  .max-width-lg {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.max-width-xl {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}
@media (max-width: 600px) {
  .max-width-xl {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
/* margin  */
.mt-16 {
  margin-top: 16px;
}

/* skeleton  */
@keyframes pulse {
  0% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    color: transparent;
    background: rgba(229, 231, 235, 1);
    border: none;
    filter: brightness(0);
    background-image: none;
    opacity: 0.06;
  }
}

.skeleton {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) 5;
  animation-fill-mode: none;
}

/* dark Skeleton  */
@keyframes darkPulse {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.dark-skeleton {
  animation: darkPulse 1s linear infinite alternate;
}
